html {
    font-size: 16px;
}
body {
    background-color: #90AFC5;
    color:#000;
}
.border-double {
    border: double 0.5rem #262e76;
}
.bg-main {
    background-color: #326a85cc;
}
.bg-fg {
    background-color: #90AFC5;
}
.bg-2nd {
    background-color: #71cdff;
}
footer a {
    color: #ffffff;
    font-weight: bolder;
}
footer ul {
    list-style: none;
}
.adapt-text {
    font-size: 0.75rem;
}
p {
    white-space: normal;
    text-align: justify;
}
small {
    color: #262e76 ;
}
.list-group-item {
    background-color: #90AFC5;
}
.list-group-item-action:hover {
    background-color: #326a85cc;
    color: #fff;
}
a {
    color:#000;
    text-decoration: none;
    transition:color 0.2s ease-in;
}
a:hover {
    color:#ff0606;
}
@media screen and (min-width:1080px) {
    html {
        font-size:20px;
    }
}